:root {
  --primary-blue: #104e8b;
  --light-blue: #4682b4;
}

body {
  font-family: Verdana;
  background-color: #F8F9FA;
}

header {
  display: flex;
  font-size: 27px;
  background-color: #80deea;
  height: 90px;
  margin-top: -18px;
}

header h1 {
  padding-left: 20px;
  padding-top: -10px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1), 0 0 5px #1e90ff;
}

#container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 30px;
  height: auto;
  width: 80%;
  gap: 30px;
  margin-bottom: 30px;
}

.library-card {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--primary-blue);
  background: radial-gradient(circle, #e0f7fa, #80deea);
  padding: 40px;
  border-radius: 4px;
  height: 100%;
}

.library-card h1 {
  color: var(--primary-blue);
  display: flex;
  justify-content: center;
  text-align: center;
}

.library-card p {
  display: flex;
}

.card-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.library-card button {
  width: 95px;
  height: 30px;
  font-size: 15px;
  margin-top: 17px;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
  transition: transform 0.4s ease;
}

.read {
  background-color: #28a745;
}

.read:hover {
  background-color: #218838;
  transform: scale(1.04);
}

.unread {
  background-color: #dc3545;
}

.unread:hover {
  background-color: #c82333;
  transform: scale(1.04);
}

.delete-btn {
  background-color: var(--primary-blue);
}

.delete-btn:hover {
  background-color: var(--light-blue); 
  border-color: var(--light-blue);
  transform: scale(1.04);
}


#new-book-btn {
  margin-bottom: 40px;
  width: 160px;
  height: 40px;
  font-size: 19px;
  margin-top: 17px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-blue);
  color: white;
  transition: background-color 0.3s ease;
  transition: transform 0.4s ease;
}

#new-book-btn:hover {
  background-color: var(--light-blue); 
  border-color: var(--light-blue);
  transform: scale(1.05);
}