:root {
  --primary-blue: #104e8b;
  --light-blue: #4682b4;
  --background: #F8F9FA;
  --unused-blue: #80deea;
}

body {
  font-family: Verdana;
  background-color: var(--background);
}

header {
  display: flex;
  font-size: 28px;
  background: radial-gradient(circle, #e0f7fa, #80deea);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 95px;
  margin-top: -23px;
}

header h1 {
  padding-left: 20px;
  padding-top: -10px;
  letter-spacing: .3px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1), 0 0 5px #1e90ff;
}

#container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#library {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 30px;
  height: auto;
  width: 80%;
  gap: 30px;
  margin-bottom: 30px;
}

.library-card {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--primary-blue);
  background: radial-gradient(circle, #e0f7fa, #80deea);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 4px;
  height: 100%;
}

.library-card h1 {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1), 0 0 5px #1e90ff;
  display: flex;
  justify-content: center;
  text-align: center;
}

.library-card p {
  display: flex;
}

.card-btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.library-card button {
  width: 95px;
  height: 30px;
  font-size: 15px;
  margin-top: 17px;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
  transition: transform 0.4s ease;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.read {
  background-color: #28a745;
}

.read:hover {
  background-color: #218838;
  transform: scale(1.04);
}

.unread {
  background-color: #dc3545;
}

.unread:hover {
  background-color: #c82333;
  transform: scale(1.04);
}

.delete-btn {
  background-color: var(--primary-blue);
}

.delete-btn:hover {
  background-color: var(--light-blue); 
  border-color: var(--light-blue);
  transform: scale(1.04);
}

#new-book-btn {
  margin-bottom: 40px;
  width: 160px;
  height: 40px;
  font-size: 19px;
  margin-top: 17px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-blue);
  color: white;
  transition: transform 0.4s ease;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#new-book-btn:hover {
  background-color: var(--light-blue); 
  border-color: var(--light-blue);
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px #1e90ff;
}

.modal-content {
  background-color: var(--background);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--primary-blue);
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  border-radius: 10px; /* Rounded corners */
}

.modal-content label {
  font-weight: bold;
}

.modal-content input {
  padding: 6px;
  margin-bottom: 6px;
}

.modal-content form {
  display: grid;
  flex-direction: column;
  margin: 25px;
  padding: 10px;
  gap: 8px;
}

.close-btn {
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 0 0 1px #1e90ff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover {
  transform: scale(1.04);
  transition: transform 0.4s ease;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content  form > *:last-child {
  margin: auto;
  margin-top: 25px;
}

#read-check {
  height: 22px;
  width: auto;
}

#submit {
  width: 100px;
  height: 30px;
  font-size: 15px;
  background-color: var(--primary-blue);
  border: none;
  border-radius: 5px;
  background-color: var(--primary-blue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: white;
  transition: transform 0.4s ease;
}

#submit:hover {
  background-color: var(--light-blue); 
  border-color: var(--light-blue);
  transform: scale(1.05);
}

/* Remove arrows from number input fields in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from number input fields in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}